---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/computer_vision.jpeg
  cta_label: "<i class='fa fa-download'></i> Blog "
  cta_url: "http://anthonyawuley.com"
  caption: "Machine Learning Research Scientist"
  excerpt: '<small><a href="http://anthonyawuley.com">anthonyawuley.com</a></small><br /><br /> {::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=anthonyawuley&repo=alps-ec&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=anthonyawuley&repo=alps-ec&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
feature_row:
  - image_path: /assets/images/mm-blog-posts.jpg #/assets/images/mm-customizable-feature.png
    alt: "customizable"
    title: "Blog Posts"
    excerpt: "Everything from software engineering, machine learning, evolutionary computation, computer vision, genetic programming, deep learning, neural network etc"
    url: "/year-archive/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/mm-about-me.jpg #/assets/images/mm-responsive-feature.png
    alt: "fully responsive"
    title: "Resume"
    excerpt: "I currently work as the maching learning lead at FlashFood Inc. Use the learn more link to view my current profile"
    url: "/about/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/mm-projects-splash-collections.jpg #/assets/images/mm-free-feature.png
    alt: "projects"
    title: "Projects"
    excerpt: "Learn more about current projects on GitHub. This covers genetic programming, genetic algorithms and some other areas in evolutionary computation"
    url: "/collection-archive/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
intro:
- excerpt: 'Get notified when I add new stuff &nbsp; [<i class="fa fa-twitter"></i> @anthonyawuley](https://twitter.com/anthonyawuley){: .btn .btn--twitter}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
